

.bon{
    margin-top: 10px;



}
.slide{
    margin-top: -20px;

}
.lien{
    margin-top: -20px;

}
h3{
    color:#1480ff;
    /*font-family: "Edwardian Script ITC", serif*/
    font-size: 30px;
    padding: -25px;
}
p{
    color:floralwhite;
    margin-top: -20px;
}



