{% extends 'operation_tontine/operation_tontine.html.twig' %}



{% block content %}

    <h1>Modification de la operation_tontine</h1>
    <div class="col-md-8">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-default" href="{{ path('operation_tontine_index') }}">
                    <i class="fa fa-chevron-left"></i>
                    Retour
                </a>
            </div>
            <div class="col-md-1 col-md-offset-3">
                <input class="btn btn-primary" type="submit" value="Modifier" />
                {{ form_end(form) }}
            </div>
            <div class="col-md-4"></div>
            {% if is_granted('ROLE_ADMIN') and is_granted('ROLE_SUP') %}
            <div class="col-md-1 col-md-offset-5">
                {% include('operation_tontine/deletemodal.html.twig') %}
            </div>
             {% endif %}
        </div>
    </div>

{% endblock %}
