<a href="#" data-toggle="modal" data-target="#{{ collecte.slug }}">
        {#<i class="fa fa-eraser"></i>#}{{ collecte.libelleop }}</a>


<div class="modal fade" id="{{ collecte.slug }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Etes-vous sûrs de bien vouloir <b><em style="color: #c61b3d">annuler</em></b> l'opération (contre-écriture) ?
                </h4>
            </div>
            <div class="modal-footer">
                <a href="{{ path('collecte_annuler',{'slug' : collecte.slug}) }}" class="btn btn-primary">Oui</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>