{#{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Admin{% endblock %}

 {% block path %}
     <li><a href="index.html">Administration</a></li>
    #}{# <li><a href="#">Branches</a></li>#}{#
     <li class="active">Clients</li>
     #}{#<li><a href="sign-in.html">Sign In Form</a></li>#}{#
 {% endblock %}

{% block content %}

{% endblock %}#}


{% extends'base.html.twig' %}



    {% set var = 'clients' %}


{% block nav %}

    {% include'nav.html.twig' %}


{% endblock %}

{% block content %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        var departement=document.getElementById('client_departement');
        var commune=document.getElementById('client_commune');


        if (!(departement !== null)) {
        } else {
            $(document).on('change','#client_departement',function(){
                let $field=$(this)
                let $form=$field.closest('form')
                let data={}
                data[$field.attr('name')]=$field.val()
                $.post($form.attr('action'),data).then(function(data) {
                    let  $input = $(data).find('#client_commune')
                    //language=JQuery-CSS
                    $('#client_commune').replaceWith($input)

                })
            })
        }
    </script>
{% endblock %}





