{% extends 'tontine/tontine.html.twig' %}


{% block content %}
    <div class="card mb-3" >
        <div class="card-header">
            <h2>
                <i class="fa fa-table" ></i>
                Liste des (livrets) tontines</h2></div>
        <div class="card-body" >
            <div class="row">
                <div class="col-md-2" id="add-modal">
                    {% include('tontine/new.html.twig') %}
                </div>

                <div class="offset-8 col-md-2 ">
                    <a href="#" class="btn btn-success ">
                        <i class="fa fa-print"></i>
                        Imprimer
                    </a>
                </div>
            </div>
            <hr>
            <table class="table table-bordered " id="datatable" width="100%" cellspacing="0">

                <thead>
                <tr>
                    <th>N° Compte</th>
                    <th>Client</th>
                    <th>Référence livret</th>
                    <th>Mise Jour</th>
                    <th>Feuillet</th>
                    <th>Ordre</th>
                    <th>Solde</th>
                    <th>Etat</th>
                    <th>Vue</th>
                </tr>
                </thead>
                <tbody id="tontine_table">
                {{ include('tontine/tontine_table.html.twig') }}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer small text-muted">Hier à 11:59 </div>

{% endblock %}
