{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Admin{% endblock %}

{% block nav %}
    {{ parent() }}
    {#{% set actif='parametre' %}
    {% include 'nav_parm.html.twig' %}#}
{% endblock %} {#End nav#}

 {% block path %}
     <li><a href="{{path('Accueil')}}">Traitement</a></li>
    {# <li><a href="#">Branches</a></li>#}
     <li class="active">Tontine</li>
     {#<li><a href="sign-in.html">Sign In Form</a></li>#}
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        lienurl=null
        function onClickBrouillon(event){ // Action à executer à chaque click
            event.preventDefault();
            const url=this.href;
            lienurl=this.href;
            $('#myModal').modal('show'); // On affiche le modal

            $.ajax({
                url: url,
                method: "POST",
                //data: $('#form_tontine').serialize(),
                success: function (data) {
                    document.getElementById('tontine_client').value=data.client
                    document.getElementById('tontine_compte').value=data.compte
                    /*if(ferme===true){
                        $('#form_tontine')[0].reset();
                        $('.close').click();
                        $('#tontine_table').html(data);
                        window.location.reload();
                    }
                    $("body").overhang({
                        type: "success",
                        message: "Enregistremnt bien fait!!"
                    });*/
                },

            });
        }
        // On recupère tous les "a" qui ont la classe "js-click" et les affecter un event
        document.querySelectorAll('a.js-click').forEach(function (link){
            link.addEventListener('click', onClickBrouillon);
        })

        function valide(ferme){
            $.ajax({
                url: lienurl,
                method: "POST",
                data: $('#form_tontine').serialize(),
                success: function (data) {
                    if(ferme===true){
                        $('#form_tontine')[0].reset();
                        $('.close').click();
                        $('#tontine_table').html(data);
                        window.location.reload();
                    }
                        $("body").overhang({
                            type: "success",
                            message: "Enregistremnt bien fait!!"
                        });
                },

            });
        }
    </script>

    <script>
        $('select[data-select="true"]').select2(
            {
                dropdownParent: $("#myModal"),
                width: '100%'
            }
        );

        var client=document.getElementById('tontine_client');
        var compte=document.getElementById('tontine_compte');


        if (!(client !== null)) {
        } else {
            $(document).on('change','#tontine_client',function(){
                let $field=$(this)
                let $form=$field.closest('form')
                let data={}
                data[$field.attr('name')]=$field.val()
                $.post($form.attr('action'),data).then(function(data) {
                    let  $input = $(data).find('#tontine_compte')
                    //language=JQuery-CSS
                    $('#tontine_compte').replaceWith($input)

                })
            })
        }
    </script>

{% endblock %}